@font-face {
  font-family: "DosKor";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/DosKor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DosKor";
  overflow-x: hidden;
  background-color: #222222;
  background-image: url(./img/noise.png);
}

body::-webkit-scrollbar {
  display: none;
}

.video-con {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.video-con video {
  width: 100vw;
}

.video-con2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.video-con2 video {
  width: calc(100vw - 100px);
  border-radius: 30px;
}

.video-con3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.video-con3 video {
  width: calc(100vw - 100px);
  border-radius: 30px;
}

#menu {
  position: fixed;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.menu-item {
  font-size: 15px;
  color: #3f3f3f;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item.active {
  /* background-color: #fff; */
  color: #ffffff;
  /* 활성 메뉴 아이템의 배경색 및 텍스트 색상 변경 */
}

#menu a {
  text-decoration: none;
  /* 밑줄 제거 */
}

.third-video {
  position: relative;
}

.third-video #popup-img {
  width: 50%;
  /* 비디오 상단 수치 */
  max-width: calc(100vw - 100px);
  /* height: 310px; */
  border-radius: 30px;
  cursor: pointer;
}

.third {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container {
  width: 50%;
  /* gif 상단 수치 */
  display: flex;
}

.thirdtext {
  width: 50%;
  padding: 20px;
  flex-shrink: 0;
  color: #cccccc;
  font-size: 14px;
  font-weight: 10;
  margin-top: 20px;
}

.gif-container {
  top: 0;
  right: 0;
  width: 60%;
  /* Adjust the width as needed */
  text-align: center;
  position: relative;
  margin-bottom: 150px;
  /* Adjust the margin as needed */
}

.gif-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}



/* ----------------------------------섹션 1 텍스트 없애기 */

#section1 {
  display: none;
}


.textbox {
  width: 100%;
  padding: 20px;
  flex-shrink: 0;
  color: #999999;
  font-size: 12px;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.white-background {
  background-color: #fffffffa;
}

.black-background {
  background-color: rgb(15, 15, 15);
  transition: background-color 2s;
  /* 배경 색상 변경을 2초 동안 천천히 진행 */
}

.wave-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 100px;
  height: 100px;
  background: none;
  border: 0.5px solid white;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.wave-button::before {
  content: "";
  position: absolute;
  background: #ffffff88;
  /* 파란색 배경색을 파도 버튼 스타일에 맞게 수정 */
  border-radius: 50%;
  transform: scale(0);
  animation: wave 1.5s linear infinite;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* 팝업 */
#popup-contain {
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(254, 91, 91, 0.104);
  position: fixed;
}

#popup {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

#video {
  width: 100%;
  max-width: 100%;
}

#closeBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 10px;
  transform: scale(3);
  color: #fff;
  cursor: pointer;
  z-index: 999999999999999999999;
}



@media only screen and (max-width: 600px) {
  .thirdtext p {
    font-size: 5px;
  }

  #menu a.menu-item {
    font-size: 8px;
  }

}